 h2, h3, h4, h5, h6, p, img, ul, ol, li{
	border: 0px;
	margin; 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 14px;
	font-family: Verdana,"Times New Roman", Arial;
}
body {
	background-color: #00ff00;
}
h1{
	font-size: 48px;
	Font-family:Verdana,"Times New Roman", Arial;
	text-align: center;
	border: 0px;
	margin:0px;
	padding: 0px;
	

}
.header{
	background-color:#00cc00;
	margin-top: 15px;
	padding-top: 1px;
	padding-bottom:1px;
	
	}

.header h1{
	color:#ffffff;
}

.content{
	background-color:#00cc00;
	padding-left:1px;
	padding-right:1px;
	height:1000px;
}

.content ol{
	list-style: none;
}

.content a{
	text-decoration: none;
}

.clock {
	text-align: center;
	font-size: 100;
}

h1,h2,h3,h4,h5,h6,p,li,ul,ol{
	color:#ffffff;
}